/*Reset*/
* {
   padding:0;
   margin:0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
	
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size:100%;
	text-align: left;
	vertical-align: baseline;
	list-style-type:none
}
.portfolio input{
	margin-left: 20px;
}
.portfolio p{
	color: red;
}
.portfolio label{
	padding-top: 10px;
}
.portfolio textarea{
	width: 620px;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	display:block
}
span{
	line-height: 20px;
}

em,small{
	text-transform:uppercase;
	font-size:10px;
}
em{
	font-style:italic
}
p{
	line-height:20px;
	margin:0 0 15px 0
}
body{
	background-color:#f1f1f1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#787878
}
a:link,a:visited{
	text-decoration:none;
	color:#c41d23
}
a:hover{
	text-decoration:underline
}
a:active{
	color:#999
}
input:focus,input:active,input:hover,textarea:focus,textarea:active,textarea:hover,a:active{
	outline:none
}
	
a img {border:none;}

table {border-collapse: collapse;border-spacing:1px}
q:before, q:after, blockquote:before, blockquote:after {content: "";}

h1{
	font-size:30px;
	margin:20px 0;
	line-height:30px
}
h2{
	font-size:24px;
	margin:18px 0;
	line-height:30px
}
h3{
	font-size:20px;
	margin:15px 0;
}
h4{
	font-size:18px;
	margin:10px 0
}
h5{
	font-size:16px;
	margin:5px 0
}
h6{
	font-size:14px;
	margin:5px 0
}
