/*
 * jQuery Nivo Slider v2.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	z-index:1
}
.nivoSlider img {
	position:absolute;
	top:0;
	left:0;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:97.6%;
	z-index:8;
	cursor:pointer;
}
.nivo-prevNav {
	left:0;
}
.nivo-nextNav {
	right:0;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}




/*
Custom Nivo Slider Default Theme
Author:Manh
*/

.maxx-theme .nivoSlider {
	position:relative;
	background:#fff url(../images/loading.gif) no-repeat 50% 50%;
	height:370px;
	width:960px;
	margin:11px auto 0;
}
.maxx-theme .nivoSlider img {
	position:absolute;
	top:0;
	left:0;
	display:none;
}
.maxx-theme .nivoSlider a {
	border:0;
	display:block;
}

.maxx-theme .nivo-controlNav,.maxx-theme .nivo-controlNav a,.maxx-theme .nivo-directionNav a{
	background-image:url(../images/sprite.png);
	background-repeat:no-repeat
}
.maxx-theme .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-26px;
	width:126px;
	height:42px;
	background-position:-690px -53px;
    margin-left:-63px; /* Tweak this to center bullets */
	z-index:10
}

.maxx-theme .nivo-controlNav a {
	display:block;
	width:16px;
	height:16px;
	text-indent:-9999px;
	border:0;
	margin:12px 3px 0 3px;
	float:left;
	background-position:-664px -53px;
	
}
.maxx-theme .nivo-controlNav a:first-child{
	margin-left:11px;
}
.maxx-theme .nivo-controlNav a.active {
	background-position:-664px -69px
}

.maxx-theme .nivo-directionNav a {
	display:block;
	width:70px;
	height:30px;
	text-indent:-9999px;
	border:0;
}
.maxx-theme .nivo-directionNav a.nivo-nextNav {
	background-position:-826px -82px;
	right:355px;
}
.maxx-theme .nivo-directionNav a.nivo-prevNav {
	left:355px;
	background-position:-826px -53px;
}

.maxx-theme .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
	width:460px;
	padding:5px 10px 10px;
	right:0;
	top:228px;
	text-align:right;
	min-height:65px;
}
.maxx-theme .nivo-caption h1{
	margin-top:0;
	margin-bottom:10px;
}
.maxx-theme .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.maxx-theme .nivo-caption a:hover {
    color:#fff;
}
#slider-wrapper{
	position:relative
}


#piece-maker-slider{
	width:980px;
	height:370px;
	margin:0px auto
}